 <div id="main-wrapper">
   <app-header></app-header>
   <app-slidebar></app-slidebar>

   <!-- ============================================================== -->
   <!-- Page wrapper  -->
   <!-- ============================================================== -->
   <div class="page-wrapper">
     <div class="container-fluid">

       <app-breadcrumbs></app-breadcrumbs>
       <router-outlet></router-outlet>

       <!-- ============================================================== -->
       <!-- Start Page Content -->
       <!-- ============================================================== -->
       <!-- <div class="row">
         <div class="col-12">
           <div class="card">
             <div class="card-body">
               This is some text within a card block.
             </div>
           </div>
         </div>
       </div> -->
       <!-- ============================================================== -->
       <!-- End PAge Content -->
       <!-- ============================================================== -->



     </div>
     <!-- ============================================================== -->
     <!-- Page wrapper  -->
     <!-- ============================================================== -->

     <footer class="fter">

       <div class="container-fluid">
         <div class="row">
           <div class="col-6 recuadro">
             <textarea style="width: 100%; height: 100%; background: none; border:none; color: white;" name="chat"
               id="chat" cols="30" rows="4"></textarea>
           </div>
           <div class="col-2 recuadro">
             <textarea style="width: 100%; height: 100%; background: none; border:none; color: white;" name="chat2"
               id="chat2" cols="30" rows="4"></textarea>
           </div>
           <div class=" col-4">

           </div>
         </div>
       </div>
     </footer>
   </div>
 </div>
