.inputsEstilos2 {
  background: rgb(219, 231, 245, 0.3);
  width: 100%;
  height: 100%;
  margin: 0;
  color: black;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;


}

.btnFormulario {
  background: rgb(52, 76, 114);
  color: #fff;
}

.inputsEstilos {
  background: rgb(219, 231, 245, 0.4);
  width: 100%;
  border: none;
  margin: 0;
}

.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed;
}

.login-box {
  width: 400px;
  margin: 0 auto;
}

.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}

.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;

}

.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}

.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: scroll;
}

.my-custom-scrollbar2 {
  position: relative;
  height: 150px;

}



.table-wrapper-scroll-y {
  display: block;
}


.table tbody tr td {
  margin-top: 25%;
  font-size: 0.8rem;

}

.table tbody tr:hover {
  cursor: pointer;
  background: rgb(54, 96, 146, 0.3);

}

thead th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
  background: rgb(54, 96, 146);
  font-size: 0.8rem;
  color: #FFF;
  z-index: 999;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

tbody th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  left: 0;
  background: #FFF;
  border-right: 1px solid #CCC;
}




tfoot tr {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  bottom: 0;
  background: rgb(54, 96, 146);
  font-size: 0.8rem;
  color: #FFF;
  z-index: 999;
}

tfoot tr:first-child {
  left: 0;
  z-index: 1;
}


footer {
  width: 100%;
  background: rgb(54, 96, 146);
  color: #ffffff;
  text-align: center;
  z-index: 0;
  height: 200px;
  position: fixed;
  bottom: -170px;
  left: 0;
  right: 0;
  transition-duration: 0.4s;
}

footer:hover {
  bottom: 0px;
}

footer:after {
  content: "\ea43";
  font-family: 'icomoon';
  position: absolute;
  top: 0px;
  left: 45%;
  width: 50px;
  height: 50px;
  background: rgb(54, 96, 146);
  margin-top: -15px;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  transition-duration: 0.6s;
}

footer:hover:after {
  transform: rotate(180deg);
  background: rgb(54, 96, 146);
  color: white;
  margin-top: -10px;
  font-size: 2rem;
}

footer .rrss {
  margin-top: 70px;
  width: 100%;
  height: 40px;
}

footer .rrss a {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
}

footer .rrss a:before {
  color: white;
  text-decoration: none;
  position: absolute;
  font-size: 2em;
  top: 5px;
  left: 5px;
  font-family: 'icomoon';
}

footer .rrss a:nth-child(1):before {
  content: "\ea96";
}

footer .rrss a:nth-child(2):before {
  content: "\ea90";
}

footer .rrss a:nth-child(3):before {
  content: "\ea9e";
}

footer p {
  font-size: 0.7em;
  font-weight: lighter;
}

.fter {
  background: rgb(54, 96, 146);
}

.navbar-header {
  background: rgb(52, 79, 114);
}

.recuadro {
  border: 1px solid white;
  height: 120px;
  background: rgb(52, 76, 114);
  margin: 30px 10px 10px 10px;
}


@media screen and (max-width: 600px) {

  footer {
    width: 100%;
    background: rgb(54, 96, 146);
    color: #ffffff;
    text-align: center;
    z-index: 0;
    height: 200px;
    position: fixed;
    bottom: -160px;
    transition-duration: 0.4s;
  }

  .recuadro {
    border: 1px solid white;
    height: 60px;
    background: rgb(52, 76, 114);
    margin: 30px 10px 10px 10px;
  }
}


.main-container {
  margin-top: 40px;
  margin-bottom: 150px;
}

.puntero {
  cursor: pointer;
}


.chat-window {
  padding: 5px;
  width: 100%;
  height: 120px;
  text-align: left;
  overflow: hidden;
  border: 1px solid #4080FF;
  border-radius: 20px;
}

.app-mensajes {
  text-align-last: left;
  overflow-y: scroll;
  height: 120px;
  /*background:gray;*/
  padding: 5px;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
