.inputsEstilos2 {
  background: rgb(219, 231, 245, 0.3);
  width: 100%;
  height: 100%;
  margin: 0;
  color: black;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;


}

.btnFormulario {
  background: rgb(52, 76, 114);
  color: #fff;
}

.inputsEstilos {
  background: rgb(219, 231, 245, 0.4);
  width: 100%;
  border: none;
  margin: 0;
}

.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed;
}

.login-box {
  width: 400px;
  margin: 0 auto;
}

.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}

.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;

}

.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}

.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}

.my-custom-scrollbar {
  position: relative;
  height: 400px;
  overflow: scroll;
}


.table-wrapper-scroll-y {
  display: block;
}


.table tbody tr td {
  margin-top: 25%;
  font-size: 0.8rem;

}

.table tbody tr:hover {
  cursor: pointer;
  background: rgb(54, 96, 146, 0.3);

}

thead th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  top: 0;
  background: rgb(54, 96, 146);
  font-size: 0.8rem;
  color: #FFF;
  z-index: 999;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

tbody th {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  left: 0;
  background: #FFF;
  border-right: 1px solid #CCC;
}




tfoot tr {
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  bottom: 0;
  background: rgb(54, 96, 146);
  font-size: 0.8rem;
  color: #FFF;
  z-index: 999;
}

tfoot tr:first-child {
  left: 0;
  z-index: 1;
}
