    <div class="col-12">
      <div class="row">

        <div class="col-3">
          <div class="card-body">
            <h3>Campos requeridos</h3>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">Nombre</label>
              </div>
              <div class="col-7">
                <textarea id="nom" rows="2" cols="1" class="inputsEstilos" type="text"
                  [(ngModel)]="usuario.nombre"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">No relacion</label>
              </div>
              <div class="col-7">
                <input class="inputsEstilos" type="number" [(ngModel)]="usuario.documento" />

              </div>

            </div>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">E-mail</label>
              </div>
              <div class="col-7">
                <input class="inputsEstilos" type="email" [(ngModel)]="usuario.email" />
              </div>
            </div>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">Telefono</label>
              </div>
              <div class="col-7">
                <input class="inputsEstilos" type="text" [(ngModel)]="usuario.telefono" />
              </div>

            </div>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">Direccion</label>
              </div>
              <div class="col-7">
                <textarea rows="2" cols="1" class="inputsEstilos" type="text"
                  [(ngModel)]="usuario.direccion"></textarea>
              </div>

            </div>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">Fecha Nac</label>
              </div>
              <div class="col-7">
                <input class="inputsEstilos" type="date" [(ngModel)]="usuario.fecha_nacimiento" />
              </div>

            </div>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">Compras</label>
              </div>
              <div class="col-7">
                <input class="inputsEstilos" type="number" [(ngModel)]="usuario.compras" />
              </div>

            </div>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">Ultima compra</label>
              </div>
              <div class="col-7">
                <input class="inputsEstilos" type="date" [(ngModel)]="usuario.ultima_compra" />
              </div>

            </div>
            <div class="row">
              <div class="col-5">
                <label class="inputsEstilos2">Fecha</label>
              </div>
              <div class="col-7">
                <input class="inputsEstilos" type="date" [(ngModel)]="usuario.fecha" />
              </div>

            </div>

            <hr>
            <div class="row">
              <div class="col-6">
                <button class="btn btnFormulario m-b-20 p-10 btn-block waves-effect waves-light"
                  (click)="altaUsuario();">
                  AGREGAR </button>
              </div>
              <div class="col-6">
                <button id="modificar" class="btn btnFormulario m-b-20 p-10 btn-block waves-effect waves-light"
                  (click)="editarUsuario();"> MODIFICAR </button>
              </div>
            </div>
          </div>



        </div>
        <div class="col-9">
          <ng-template #sin>
            <p>No hay productos registrados.</p>
          </ng-template>
          <div class="card">
            <div class="card-body">
              <div class="my-custom-scrollbar table-wrapper-scroll-y table-responsive m-t-40">
                <table class="display nowrap table table-hover table-striped table-bordered dataTable" id="example23"
                  *ngIf="hayRegistros(); else sin">
                  <thead class="encabezado">
                    <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>No relacion</th>
                      <th>Email</th>
                      <th>Telefono</th>
                      <th>Direccion</th>
                      <th>Fecha Nac</th>
                      <th>Compras</th>
                      <th>Ultima compra</th>
                      <th>Fecha</th>
                      <th></th>
                    </tr>
                  </thead>

                  <tbody style="color: black; font-size: 12px; font-weight: bold;">
                    <tr *ngFor="let usuario of usuarios">
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.id }} </td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.nombre }} </td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.documento }} </td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.email }} </td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.telefono }} </td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.direccion }} </td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.fecha_nacimiento }} </td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.compras | currency }}</td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.ultima_compra }}</td>
                      <td (click)="seleccionarUsuario(usuario.id)"> {{usuario.fecha }}</td>
                      <td>
                        <button class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light"
                          (click)="bajaUsuario(usuario.id)">
                          Borrar
                        </button>
                      </td>
                    </tr>


                  </tbody>
                  <tfoot class="encabezado">
                    <tr *ngFor="let suma of sumas" style="background: black; color: white;">
                      <th>
                        <h3 style="color: white;">TOTALES</h3>
                      </th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th class="resultado" style="width: 10%; font-size: 1rem;">{{ suma.total | currency }}</th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>

                  </tfoot>

                </table>


              </div>

            </div>
          </div>
        </div>



      </div>

    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3">


        </div>

      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
    </div>
