    <div class="container-fluid">
      <div class="row">

        <div class="col-md-4 col-lg-4 col-sm-12">
          <div class="card-body">
            <h1>Campos requeridos</h1>
            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2">Imagen</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <img src="https://ovgsoft.com/android/{{producto.imagen}}" style="width:60px;" alt="">
                <!-- <input class=" inputsEstilos" type="text" [(ngModel)]="producto.imagen" /> -->
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2">Codigo</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input class="inputsEstilos" type="number" [(ngModel)]="producto.codigo" />
              </div>
            </div>
            <div class="row">

              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2">Descripcion</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <textarea rows="3" class="inputsEstilos" type="text" [(ngModel)]="producto.descripcion"></textarea>
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2">Categoria</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <select class="inputsEstilos">
                  <option>{{producto.id_categoria}}</option>
                  <option [value]="categ.id" *ngFor="let categ of categorias">{{categ.categoria}}</option>
                </select>

              </div>

            </div>


            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2">Precio de compra</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input class="inputsEstilos" type="number" [(ngModel)]="producto.precio_compra" />
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2">Precio de venta</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input class="inputsEstilos" type="number" [(ngModel)]="producto.precio_venta" />
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2">Stock</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input class="inputsEstilos" type="number" [(ngModel)]="producto.stock" />
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2"> Ventas</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input class="inputsEstilos" type="number" [(ngModel)]="producto.ventas" />
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 col-lg-5 col-sm-12">
                <label class="inputsEstilos2">Fecha</label>
              </div>
              <div class="col-md-7 col-lg-7 col-sm-12">
                <input class="inputsEstilos" type="date" [value]="producto.fecha" [(ngModel)]="producto.fecha" />
              </div>

            </div>
            <hr>

            <div class="row">
              <div class="col-md-12 col-lg-6 col-sm-12">
                <button style="z-index: 0;" class="btn btnFormulario m-b-20 p-10 btn-block waves-effect waves-light"
                  (click)="altaProducto();">
                  AGREGAR </button>
              </div>
              <div class="col-md-12 col-lg-6 col-sm-12">
                <button style="z-index: 0;" class="btn btnFormulario m-b-20 p-10 btn-block waves-effect waves-light"
                  (click)="editarProducto();">
                  MODIFICAR </button>
              </div>

            </div>
          </div>

          <app-barras></app-barras>
        </div>



        <div class="col-md-8 col-lg-8 col-sm-12">
          <ng-template #sin>
            <p>No hay productos registrados.</p>
          </ng-template>
          <div class="card">
            <div class="card-body">
              <div class="my-custom-scrollbar table-wrapper-scroll-y table-responsive m-t-40">
                <table class="display nowrap table table-hover table-striped table-bordered dataTable" id="example23"
                  *ngIf="hayProductos(); else sin">
                  <thead>
                    <tr>
                      <th style="width:150px !important;">Descripcion</th>
                      <th style="width:30px !important;">Foto</th>
                      <th style="width:20px !important;">Stock</th>
                      <th style="width:30px !important;">Precio compra</th>
                      <th style="width:30px !important;">Precio venta</th>
                      <th style="width:30px !important;">Ventas (pza)</th>
                      <th style="width:30px !important;">Monto venta</th>
                      <th style="width:30px !important;">Borrar</th>
                    </tr>
                  </thead>

                  <tbody style="color: black; font-size: 12px; font-weight: bold;">
                    <tr *ngFor="let producto of productos">
                      <td (click)="seleccionarProducto(producto.id)"> {{producto.descripcion }} </td>
                      <td (click)="seleccionarProducto(producto.id)"><img style="width: 30px;"
                          src="https://ovgsoft.com/android/{{producto.imagen }}"></td>
                      <td (click)="seleccionarProducto(producto.id)"> {{producto.stock }} </td>
                      <td (click)="seleccionarProducto(producto.id)"> {{producto.precio_compra | currency }} </td>
                      <td (click)="seleccionarProducto(producto.id)"> {{producto.precio_venta | currency }}</td>
                      <td (click)="seleccionarProducto(producto.id)"> {{producto.ventas}} PZA</td>
                      <td> {{producto.ganancia | currency}}</td>
                      <td>
                        <button class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light"
                          (click)="bajaProducto(producto.id)">
                          Borrar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>

                  </tfoot>

                </table>

              </div>
              <div class="col-12 my-custom-scrollbar2 table-wrapper-scroll-y table-responsive m-t-40">
                <div class="row">

                  <div class="col-4">

                  </div>
                  <div class="col-7">

                    <table class="display nowrap table table-hover table-striped table-bordered dataTable" width="100%">
                      <thead>
                        <tr>
                          <th>Stock</th>
                          <th>Precio compra</th>
                          <th>Precio venta</th>
                          <th>Ventas (pza)</th>
                          <th>Monto venta</th>
                        </tr>
                      </thead>
                      <tbody style="color: black; font-size: 12px; font-weight: bold;">
                        <tr *ngFor="let suma of sumas">
                          <td>{{suma.stock}}</td>
                          <td>{{suma.costoAlmacen | currency }}</td>
                          <td>{{suma.montoVenta | currency }}</td>
                          <td>{{suma.ventas }}</td>
                          <td>{{suma.ganancia | currency }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-1">

                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>



      </div>

    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <div class="row">


          </div>
        </div>
        <div class="col-6"></div>

      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
    </div>



    <app-chat></app-chat>
