      <aside class="main-sidebar footer_fixed fixed-bottom">
        <section class="sidebar">
          <ul class="sidebar-menu">
            <li class="header"></li>
            <br>

            <br>

            <li class="treeview">
              <P style="padding-left:10%; font-size: 1.5rem; bottom: 0;">LISTA DE REGISTROS</P>
              <hr>
              <a href="#">
                <span style="padding-left:20%; font-size: 1.5rem;">VENTAS</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <span style="padding-left:20%; font-size: 1.5rem;">PAGOS</span>
              </a>
            </li>
            <li class="treeview">
              <a href="#">
                <span style="padding-left:20%; font-size: 1.5rem;">VENTAS DE CONTADO</span>
              </a>
            </li>
            <br><br>
            <li class="treeview">
              <P style="padding-left:10%; font-size: 1.5rem; bottom: 0;">SOPORTE | CONFIGURACIONES</P>
            </li>
            <li class="treeview">
              <hr style="margin-top:-10px !important;">
              <a href="#">
                <span style="padding-left:20%; font-size: 1.5rem;">Tickets</span>
              </a>
            </li>

          </ul>
        </section>
      </aside>
