        <aside id="aside" class="left-sidebar">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
              <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap">Modulo</li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                      class="iconosMenu fa fa-list"></i><span class="hide-menu">Lista de registros </span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="#">Ventas </a></li>
                    <li><a href="#">Pagos</a></li>
                    <li><a href="#">Ventas de contado</a></li>
                  </ul>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i
                      class="iconosMenu fa fa-list"></i><span class="hide-menu">Nuevo registro </span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="#/vista1">Venta </a></li>
                    <li><a href="#">Pago</a></li>
                    <li><a href="#">Venta de contado</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
        </aside>
