<aside id="aside" class="left-sidebar">
  <a class="navbar-brand" href="#"
    style="background:url('./assets/images/CWtitle.ico'); background-repeat: no-repeat; background-size: 100%; opacity: 0.3; top:-50px; position: absolute; left: 0; width: 100%; overflow: hidden;  height: 150px;">
  </a>
  <div class="scroll-sidebar">
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li class="nav-devider"></li>
        <li class="nav-small-cap">Modulo</li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img src="assets/images/CWtitle.ico" alt="assets/images/CWtitle.ico" width="25px"
              style="border-radius: 50%;">
            <!-- <i class="iconosMenu fa fa-list"></i> -->
            <span class="hide-menu"> Lista de registros </span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#"> Ventas </a></li>
            <li><a href="#"> Pagos</a></li>
            <li><a href="#"> Ventas de contado</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img src="assets/images/CWtitle.ico" alt="assets/images/CWtitle.ico" width="25px"
              style="border-radius: 50%;">
            <!-- <i class="iconosMenu fa fa-list"></i> -->
            <span class="hide-menu"> Nuevo registro </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#/vista1"> Venta </a></li>
            <li><a href="#">Pago</a></li>
            <li><a href="#">Venta de contado</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img src="assets/images/CWtitle.ico" alt="assets/images/CWtitle.ico" width="25px"
              style="border-radius: 50%;">
            <!-- <i class="iconosMenu fa fa-list"></i> -->
            <span class="hide-menu"> Nuevo registro </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#/vista1"> Venta </a></li>
            <li><a href="#">Pago</a></li>
            <li><a href="#">Venta de contado</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img src="assets/images/CWtitle.ico" alt="assets/images/CWtitle.ico" width="25px"
              style="border-radius: 50%;">
            <!-- <i class="iconosMenu fa fa-list"></i> -->
            <span class="hide-menu"> Nuevo registro </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#/vista1"> Venta </a></li>
            <li><a href="#">Pago</a></li>
            <li><a href="#">Venta de contado</a></li>
          </ul>
        </li>
        <li>
          <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
            <img src="assets/images/CWtitle.ico" alt="assets/images/CWtitle.ico" width="25px"
              style="border-radius: 50%;">
            <!-- <i class="iconosMenu fa fa-list"></i> -->
            <span class="hide-menu"> Nuevo registro </span>
          </a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="#/vista1"> Venta </a></li>
            <li><a href="#">Pago</a></li>
            <li><a href="#">Venta de contado</a></li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
