#sidebarnav li {
  color: white;
  font-size: 1.2rem;
}

#sidebarnav li a {
  color: white;
  font-size: 1rem;
}

.navItemDos a i {
  font-size: 2rem;
}

.iconosMenu {
  color: white;
}

.main-sidebar,
.sidebar-menu,
.header {
  background: rgb(52, 79, 114) !important;
  color: aliceblue;
}

.skin-blue-light .sidebar a {
  color: aliceblue !important;
}
